
.Solicitacao_de_ACG_process_Diagrama_ACGS_td_Enviar1{
	text-align:center;

}

.Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__1_2__td_Proximo1{
	text-align:center;

}

.widget_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.input_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{
	text-align : center;

}

.label_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.table_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.table_cells_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.table_headers_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.image_Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__Mensagem1{

}

.Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__td_Anterior1{
	text-align:center;

}

.Solicita_ACG_Solicitacao_de_Atividade_Complementar_de_Graduacao__2_2__td_Enviar1{
	text-align:center;

}

.Etapa2_Alteracao_Tutor_td_Enviar1{
	text-align:center;

}

.Avisa__ao_aluno___Pedido_rejeitado_Avisa__ao_aluno___Pedido_rejeitado_td_Enviar1{
	text-align:center;

}

.Avisa_ao_aluno___pedido_aceito_Avisa_ao_aluno___pedido_aceito_td_Enviar1{
	text-align:center;

}

.Tutor_avalia_a_ACG_Tutor_avalia_ACG_td_Enviar2{
	text-align:center;

}

.Etapa4_Etapa4_td_Enviar1{
	text-align:center;

}

.Relator_avalia_ACG_Relator_avalia_ACG_td_Enviar1{
	text-align:center;

}

.Etapa1_Colegiado_avalia_ACG_td_Enviar1{
	text-align:center;

}

.Etapa7_Etapa7_td_Enviar1{
	text-align:center;

}

.bonita_table_container {
	table-layout: fixed;
}

.hidden_on_instantiation {
	display: none;
}
